/* Responsive for small devices*/

@media screen and (max-width: 576px) {

    /* nav responsive start here */

    nav,
    .nav-1,
    .nav-2 {
        flex-direction: column;
        padding: 0px;
        align-items: center;
        margin-bottom: 5px;
    }

    /* nav responsive end  */

    /* banner responsive start here */

    .banner-container {
        flex-direction: column;
    }

    .banner-text {
        padding: 10px;
    }

    .banner-text,
    .banner-img {
        width: 100%;
        text-align: center;

    }

    .banner-text h2 {
        font-size: 30px;
    }

    .banner-text h3 {
        font-size: 25px;
    }

    #btn-1,
    #btn-2 {
        border-radius: 18px;
        font-size: 10px;
        font-weight: 400;
        padding: 10px;
    }

    /* banner responsive ends */

    /* main section one */

    .main-section-1 {
        flex-direction: row;
        text-align: center;
        margin-top: 120px;
        font-size: 20;
    }

    /* card img */

    .card-img-sec {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .img-container img {
        height: 300px;
    }

    /* last section css here */

    .last-section-container{
        flex-direction: column;
        flex-wrap: wrap;
        width: 30%;
        margin:0px;
        padding: 0px;
    }

    .text-section{
        width: 300px;
        height: 200px;
    }

    .img-section-container{
        
    }

}

/* Responsive for medium devices*/

@media screen and (min-width: 577px) and (max-width: 992px) {

    /* nav responsive start here */
    nav {
        padding: 30px 50px;
    }

    /* banner */

    .banner-container {
        flex-direction: column;
        background-image: none;
        padding-left: 200px;
    }

    .banner-text,
    .banner-img {
            height: 400px;

    }
    .banner-img{
       padding: 0px;
    }



    /* main section one  */

    .main-section-1{
        flex-direction:column;
        text-align: center;
        margin-top: 200px;
        font-size: 30;
    }
    .section-title{
        font-size: 20px;
    }

    .card-img-sec {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .img-container img {
        height: 300px;
    }

}



